<section class="d-flex justify-content-center align-items-center gap-3">
<div>
<h2>Welcome to Fleet Rider!</h2>
<h4>Your partner in menagmnet with fleet of cars</h4>
</div>
<img src="modern-car-isolated_23-2151504570.jpg" alt="car image" class="w-25">
</section>
