<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid border-bottom border-primary">
    <a class="navbar-brand" href="/<%# root_url %>">FleetRider</a>
    <div class="d-flex">
      <a class="nav-link" href="#">Login</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto start-0">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
              <%= link_to 'Trips', trips_path, class: 'btn btn-m' %>
              <%= link_to 'Cars', cars_path, class: 'btn btn-m' %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>